@import "bootstrap-variables";

.ba-post{
	margin-bottom: 100px;
	font-size: 14px;
	&:last-child{
		margin-bottom: 0;
	}
	&__img{
		display: block;
		margin-bottom: 30px;
		&:hover{
			opacity: .8;
		}
		img{
			display: block;
		}
	}
	&__date{
		display: inline-block;
		background: $brand-primary;
		color: #FFF;
		text-transform: uppercase;
		font-weight: 800;
		font-family: $headings-font-family;
		padding: 10px 23px;
		line-height: 1;
	}
	&__title{
		font-size: 18px;
	}
	a{
		text-transform: uppercase;
		color: $text-color;
		text-decoration: none;
		font-weight: 700;
		&:hover{
			color: $brand-primary;
		}
	}
	&__comments{
		display: inline-block;
		margin-left: 15px;
		color: #ccc;
		i{
			font-size: 18px;
			vertical-align: middle;
			margin-right: 8px;
		}
	}
	&__likes{
		display: inline-block;
		margin-left: 18px;
		color: #ccc;
		i{
			font-size: 18px;
			color: #ea6a6a;
			margin-right: 8px;
			vertical-align: middle;
		}
	}
	&__readmore{
		&:after{
			content: "\f30f";
			display: inline-block;
			font-family: 'Ionicons';
			speak: none;
			font-style: normal;
			font-weight: bold;
			font-variant: normal;
			text-transform: none;
			text-rendering: auto;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-left: 10px;
		}

	}
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
select{
	@extend .form-control
}
.ba-search-form{
	background: #ECECEC;
	font-size: 0;
	input, button, input:focus{
		outline-style: none;
		background: none;
		border: none;
		border-radius: 0;
		display: inline-block;
		color: $text-color;
		line-height: 40px;
		height: 40px;
		box-shadow: none;
		&::plaseholder{
			color: $text-color;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
	input{
		width: calc(100% - 40px);
		font-weight: 700;
	}
	button{
		width: 40px;
		&:hover{
			transform: scale(1.2);
		}
	}
	i{
		font-size: 18px;
	}

}
