.ba-footer{
	padding: 50px 0;
	font-family: $font-family-base;
	color: #9a9a9a;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1;
	p{
		margin: 0;
	}
	&-menu{
		margin-left: -15px;
		li{
			a{
				color: #9a9a9a;
				&:hover, &:focus{
					color: $brand-primary;
				}
			}
		}
	}
	&__cont{
		text-align: right;
		margin-right: -15px;
	}
}
.ba-social{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	float: right;
	text-align: right;
	margin-right: -20px;
	&__icon{
		color: #999;
		font-size: 18px;
		&:hover, &:focus{
			color: $brand-primary;
		}
	}
	li{
		float: left;
		margin-right: 20px;
	}
}
@media (max-width: $screen-md-min){
	.ba-footer{
		line-height: 1.7;
		&-menu{
			margin-bottom: 30px;
		}
		&__cont{
			float: none;
			text-align: center;
		}
	}
	.ba-social{
		float: none;
		display: inline-block;
	}
}
