@import "bootstrap-variables";

.ba-subscribe{
	background: $brand-primary;
	padding: 50px 0;
	margin: 0;
	h2{
		color: #FFF;
		line-height: 1.6;
	}
	a{
		margin-bottom: 50px;
	}
	form{
		background: #FFF;
		padding: 18px 26px 18px 20px;
	}
	h3{
		max-width: 340px;
		line-height: 1.5;
		// padding: 18px 0;
		margin: 0;
	}
	button{
		float: right;
	}
	input{
		float: left;
		width: calc(100% - 123px);
		border: none;
		outline: none;
		padding: 22px 19px;
		box-shadow: none;
		border-radius: 0;
		&::placeholder{
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	p{
		font-size: 16px;
		margin: 10px 0 29px;
	}
}
.btn-backward{
	background: #FFF;
}
.row-form{
	margin: 0;
	border: 1px solid rgba(0,0,0, .1);
}
@media (max-width: 360px){
	.row-form{
		border: none;
		text-align: center;
	}
	.ba-subscribe{
		input{
			width: 100%;
			float: none;
			border: 1px solid rgba(0,0,0, .1);
			margin-bottom: 20px;
		}
		button{
			float: none;
		}
	}
}
